{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Block for dynamic title -->
    <title>{% block title %}Gread{% endblock %}</title>
    <!-- Load static template tag -->
    {% load static %}
    <!-- Local CSS Files -->
    <link rel="stylesheet" href="{% static 'events/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-pod-talk.css' %}">

    <!-- External CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
<main>
<nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand me-lg-5 me-0" href="{% url 'home' %}">
                    <img src="{% static 'logo.png' %}" class="logo-image img-fluid" alt="gread-logo">
                </a>
            
            <form action="{% url 'blogs:blogs_list' %}" method="get" class="custom-form search-form flex-fill me-3" role="search">
    <div class="input-group input-group-lg">
        <input name="q" type="search" class="form-control" id="search" placeholder="Search Blogs" aria-label="Search" value="{{ query }}">
        
        <select name="field" class="form-control" style="background-color: #81B5A1; color: #121212">
            <option value="" {% if field == "" %}selected{% endif %}>Filter by...</option>
            <option value="title" {% if field == "title" %}selected{% endif %}>Title</option>
            <option value="body" {% if field == "body" %}selected{% endif %}>Body</option>
            <option value="author" {% if field == "author" %}selected{% endif %}>Author</option>
        </select>

        <button type="submit" class="form-control bg-success" id="submit">
            <i class="bi-search"></i>
        </button>
    </div>
</form>


{#                <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">#}
{#                    <div class="input-group input-group-lg">#}
{#                        <input name="search" type="search" class="form-control" id="search" placeholder="Search Blogs"#}
{#                            aria-label="Search">#}
{##}
{#                        <button type="submit" class="form-control bg-success" id="submit">#}
{#                            <i class="bi-search"></i>#}
{#                        </button>#}
{#                    </div>#}
{#                </form>#}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #293E40">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Feed</a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'blogs:blogs_list' %}">View Blogs</a></li>
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'blogs:blog_create' %}">Create Blog</a></li>
                            {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Events</a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'events:events_list' %}">Upcoming Events</a></li>
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'events:add_event' %}">Add Event</a></li>
                            {% endif %}
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-link nav-link" type="submit">Logout</button>
                    </form>
                    </li>
                {% if not user.is_superuser %}
{#                <li class="nav-item">#}
                    <div class="ms-4">
                <a href="{% url 'accounts:profile' user.username %}" class="btn custom-btn custom-border-btn smoothscroll">Profile</a>
                    </div>
{#                    <a class="nav-link" href="{% url 'accounts:profile' user.username %}">Profile</a>#}

{#                </li>#}
                {% endif %}


            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
                </li>

            {% endif %}
                    </ul>
{#                    <div class="ms-4">#}
{#                        <a href="#section_3" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>#}
{#                    </div>#}
                </div>
            </div>
        </nav>

{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="{% url 'home' %}">#}
{#            <img src="{% static 'logo.png' %}" alt="gread_branding" style="height: 55px;">#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarNav">#}
{#            <ul class="navbar-nav ms-auto">#}
{#                {% if user.is_authenticated %}#}
{#                <li class="nav-item">#}
{#                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">#}
{#                        {% csrf_token %}#}
{#                        <button class="btn btn-link nav-link" type="submit">Logout</button>#}
{#                    </form>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link highlight" href="{% url 'blogs:blog_create' %}">Create Blog</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link highlight" href="{% url 'events:events_list' %}">View Events</a>#}
{#                </li>#}
{#                {% if not user.is_superuser %}#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'accounts:profile' user.username %}">Profile</a>#}
{#                </li>#}
{#                {% endif %}#}
{#                {% else %}#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>#}
{#                </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<!-- Content pops up here -->
<div class="wrapper">
    {% block content %}
    {% endblock %}
</div>
</main>
<footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="subscribe-form-wrap">
                        <h6>Subscribe. Every weekly.</h6>

                        <form class="custom-form subscribe-form" action="#" method="get" role="form">
                            <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*"
                                class="form-control" placeholder="Email Address" required="">

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control" id="submit" style="background-color: #81B5A1">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Contact</h6>

                    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 226-555-9997</p>

                    <p>
                        <strong class="d-inline me-2">Email:</strong>
                        <a href="#">inquiry@gread.com</a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <h6 class="site-footer-title mb-3">Download Mobile</h6>

                    <div class="site-footer-thumb mb-4 pb-2">
                        <div class="d-flex flex-wrap">
                            <a href="#">
                                <img src="{% static 'images/app-store.png' %}" class="me-3 mb-2 mb-lg-0 img-fluid" alt="">
                            </a>

                            <a href="#">
                                <img src="{% static 'images/play-store.png' %}" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <h6 class="site-footer-title mb-3">Social</h6>

                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" style="background-color: #81B5A1" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" style="background-color: #81B5A1" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" style="background-color: #81B5A1" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                <div class="col-lg-2 col-md-3 col-12">
                    <a class="navbar-brand" href="{% url "home" %}">
                        <img src="{% static 'images/logo_faded.png' %}" class="logo-image img-fluid" alt="gread-logo">
                    </a>
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Homepage</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Browse Feed</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Upcoming Events</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">About</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">Copyright © 2024 GRead Inc
                        <br><br>
                        Design: <a rel="nofollow" href="#" target="_parent">GRead</a>
                    </p><a rel="nofollow" href="#" target="_blank">GRead is a work for internet applications project requirements.</a>
                </div>
            </div>
        </div>
    </footer>

<!-- Cookie Consent Banner -->
{% if user.is_authenticated %}
    {% if not cookie_exists %}
        <div id="cookie-consent-banner" class="alert alert-dark fixed-bottom mb-0" role="alert" style="display: none; background-color: #343a40; color: #fff; padding-left: 40px;">
            <h4 class="alert-heading mb-3">Your privacy, your choice</h4>
            <p class="mb-2">We use essential cookies to make sure the site can function. We also use optional cookies for advertising, personalisation of content, usage analysis, and social media.</p>
            <p class="mb-2">Do you accept cookies?</p>
            <button id="accept-cookies" class="btn btn-outline-success btn-sm me-2">Accept</button>
            <button id="reject-cookies" class="btn btn-outline-danger btn-sm">Reject</button>
        </div>
    {% endif %}
{% endif %}

<!-- Js for bootstrap dependencies -->
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>#}
  <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
<!-- Js for consent fetch for cookies! -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var userId = "{{ user.id }}";
        var cookieConsent = getCookie("cookie_consent_" + userId);
        var sessionConsentNeeded = "{{ request.session.cookie_consent_needed }}";
        console.log("Consent: ", cookieConsent + "   " + "session: ", sessionConsentNeeded);
        if (!cookieConsent && sessionConsentNeeded === "True") {
            console.log("INSIDE!");
            document.getElementById("cookie-consent-banner").style.display = "block";
        }
        var next = "{{ cookie_exists }}";
console.log("REQ: ", next);
        document.getElementById("accept-cookies").addEventListener("click", function() {
            setCookie("cookie_consent_" + userId, "accepted", 365);
            document.getElementById("cookie-consent-banner").style.display = "none";
            // Send AJAX request to clear session variable
            clearCookieConsentSession();
        });

        document.getElementById("reject-cookies").addEventListener("click", function() {
            setCookie("cookie_consent_" + userId, "rejected", 365);
            document.getElementById("cookie-consent-banner").style.display = "none";
            // Send AJAX request to clear session variable
            clearCookieConsentSession();
        });
    });

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)===' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function clearCookieConsentSession() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "accounts/clear_cookie_consent_session/", true);
        {#xhr.open("POST", "{% url 'accounts:clear_cookie_consent_session' %}", true);#}
        xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
        xhr.send();
    }
</script>

</body>
</html>